h1{
   background: #1d5996;
   color: #6b3e14
}
h2{
   background: #20c266;
   color: #582d18
}
p{
   background: #858181;
   color: #0e251b
}
ul{
   background: #94683d;
   color: #4c5e2a
}
li{
   background: #13631f;
   color: #2b1909
}